---
# tasks/install-redhat.yml - Install AmneziaWG on RHEL/CentOS/Rocky/Alma/Fedora via COPR

- name: Install EPEL repository
  ansible.builtin.dnf:
    name: epel-release
    state: present
  become: true
  when: ansible_distribution != 'Fedora'

- name: Install kernel headers for DKMS module build
  ansible.builtin.dnf:
    name: 'kernel-devel-{{ ansible_kernel }}'
    state: present
  become: true

- name: Add AmneziaWG COPR repository
  community.general.copr:
    name: amneziavpn/amneziawg
    state: enabled
  become: true

- name: Install AmneziaWG packages
  ansible.builtin.dnf:
    name:
      - amneziawg-dkms
      - amneziawg-tools
    state: '{{ amneziawg_state }}'
  become: true

- name: Ensure AmneziaWG kernel module is loaded
  community.general.modprobe:
    name: amneziawg
    state: present
  become: true
