---
# tasks/install-debian.yml - Install AmneziaWG on Debian/Ubuntu via PPA

- name: Install prerequisites
  ansible.builtin.apt:
    name:
      - gpg
      - dkms
      - software-properties-common
    state: present
    update_cache: '{{ amneziawg_update_cache }}'
  become: true

- name: Add AmneziaWG PPA repository Debian 11
  ansible.builtin.apt_repository:
    repo: 'ppa:amnezia/ppa'
    state: present
    codename: focal
    filename: amneziawg
  when: ansible_distribution_major_version == '11'
  become: true

- name: Add AmneziaWG PPA repository Debian 12
  ansible.builtin.apt_repository:
    repo: 'ppa:amnezia/ppa'
    state: present
    codename: jammy
    filename: amneziawg
  when: ansible_distribution_major_version == '12'
  become: true

- name: Add an apt key by id from a keyserver
  ansible.builtin.apt_key:
    keyserver: keyserver.ubuntu.com
    id: 75C9DD72C799870E310542E24166F2C257290828

- name: Include setup debian based task
  ansible.builtin.include_tasks:
    file: setup-debian-based.yaml