---
# tasks/main.yml - Main entry point for amneziawg role

- name: Validate required variables
  ansible.builtin.assert:
    that:
      - amneziawg_addresses is defined
      - amneziawg_addresses | length > 0
    fail_msg: 'amneziawg_addresses must be defined with at least one VPN address'
    quiet: true
  tags:
    - amneziawg
    - amneziawg-config

- name: Include tasks depending on OS
  ansible.builtin.include_tasks:
    file: "{{ item }}"
    apply:
      tags:
        - amneziawg
        - amneziawg-config
  with_first_found:
    - "install-{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
    - "install-{{ ansible_distribution | lower }}-{{ ansible_distribution_version }}.yml"
    - "install-{{ ansible_distribution | lower }}-{{ ansible_distribution_release }}.yml"
    - "install-{{ ansible_distribution | lower }}.yml"
    - "install-{{ ansible_os_family | lower }}.yml"
  tags:
    - amneziawg
    - amneziawg-config

- name: Generate AmneziaWG keys
  ansible.builtin.include_tasks:
    file: generate-keys.yml
  tags:
    - amneziawg
    - amneziawg-keys

- name: Configure AmneziaWG interface
  ansible.builtin.include_tasks:
    file: configure.yml
  tags:
    - amneziawg
    - amneziawg-config
